.navbar{
    display: flex;
    justify-content: space-between;
    gap: 0.6rem;
    margin-top: 0.3rem;
    padding-top: 0.7rem;
    overflow-y: hidden;
    font-family: sans-serif;
    width: 100%;
    padding: 1rem;
    background-color: #f5d3d34d;
    box-shadow: #F3D0D0 0px 3px 8px;
    border-radius: 0.2rem;
}

.navbar p{
    font-size: clamp(0.7rem, 2vw, 1rem); 
    font-weight: 700;
    color: #625f5fad;
    cursor: pointer;
}

.navbar p.active{
    color: #010101;
    font-size: clamp(1.1rem, 2vw, 1.4rem);
}

